<title>Polimericos Dial de CO</title>
<link rel="stylesheet" href="/css/index.css">

<body>
    <header>
        <div class="logo">
            <img src="/img/logo.png" alt="logo polimericos">
            <div class="text-logo">
                <h1>Polimericos Internacional</h1>
                <p>Equipo profesional en diferentes areas</p>
            </div>
        </div>
        <nav>
            <div class="responsive-menu">
                <i class="fa-solid fa-bars"></i>
                <a href="/login"><i class="fa-solid fa-right-to-bracket"></i></a>

            </div>
            <ul>
                 <li><a href="#inicio">Inicio</a></li>
            <li><a href="#nosotros">Nosotros</a></li>
            <li><a href="#servicios">Servicios</a></li>
            <li><a href="#contacto">Contactanos</a></li>
            <li><a href="/cursos">Aprendizaje</a></li>
            </ul>
           
        </nav>
        <div class="btn-login">
            <button id="log-in"><a href="/login">Iniciar Sesion</a></button>
            <button id="log-out"><a href="/login">Registrate</a></button>
        </div>
        <div class="scroll-indicator">
        <div class="progress-bar">
        </div>
    </div>
    </header>
    
    <section class="contenedor-portada" id="inicio">
        <article>
            <h2> Amplia gama de cursos para emprender</h2>
            <p>Somos un grupo de profesionales en diferentes áreas dispuestos para capacitarte en técnicas de
                personalización de pinturas y decoraciones, con el fin de ayudarte a emprender.</p>
            <div class="tarjeta-portada">
                <div class="contacto-tarjeta">
                    <div class="whats">
                    <div class="icono">
                        <i class="fa-brands fa-whatsapp"></i>
                    </div>
                    <div class="label">
                        <span>WhatsApp</span>
                        <span>+57 1234556890</span>
                    </div>
                    </div>

                    <div class="asesor">
                        <div class="icono">
                            <i class="fa-regular fa-id-badge"></i>
                        </div>
                        <div class="label">
                            <span>Asesor</span>
                            <span>Carolina Ochoa</span>
                        </div>
                    </div>
                </div>

                 <a href="https://api.whatsapp.com/send?phone=%2B573058517530&context=ARANaxkEnQzLhYJQwqzUUrVnzGz_ND2E2lkcNPPQSc7bclRL4ns5O6hf50HWQQGwz6wGi8Fa2dS-9ZtdN_-FZ0q8zCLydwAx0pLjH_ZWEB7eM1avwYaw3n-zooYbCoRuFfqK8bwS2xd714YHoiotcMbStQ&source=FB_Page&app=facebook&entry_point=page_cta&fbclid=IwZXh0bgNhZW0CMTAAAR0SkEeadJIgKA-sGqza4lcq4OaX_yiD1rtJ5D_gRLiKvc0lhoRFsY9rbaY_aem_Ae5IlTcH9Kl9HACHhNtg8iombYGY1Wg5sOkVDryMXN3fsOd05PZ4wEwiTVNYZfeHSQNGsG7dN7KWOW6EUWiU8kZf">
                    <button class="full-rounded">
                        <span>Contactar</span>
                        <div class="border full-rounded"></div>
                    </button>
                </a>
               
                </div>
                
               
            </div>
            <div class="navegable">
                <div class="more">
                    <a href="#nosotros">
                        <span>Seguir leyendo </span><i class="fa-solid fa-circle-arrow-down"></i>
                    </a>
                </div>
                <div class="ir-curso">
                    <a href="/cursos">
                        <span> Ir cursos </span><i class="fa-solid fa-circle-arrow-down"></i>
                    </a>
                </div>
            </div>
        </article>
        <aside>
            <div class="titulo-aside">
                <h3>Cursos a nivel Internacional</h3>
            </div>
            <div class="slider">
                <div class="slider-track" id="imgTrabajo">
                </div>
            </div>
            <div class="footer-aside">
                <span>Te enseñaremos desde cero sin necesidad de costosas maquinas, asesoria permanente y lo mejor de todo serán los descuentos en insumos.</span>
            </div>
        </aside>
    </section>
    <section class="contenedor-about" id="nosotros">
        <aside>
            <div class="background-aside-about">
                <img src="/img/pintando.webp" alt="">
            </div>
        </aside>
        <article>
            <h2>¿Quienes somos?</h2>
            <p>Poliméricos Dial de Colombia es una compañía colombiana con centro de operaciones en la ciudad de Bogotá, dedicada a la implementación de nuevos sistemas para construcción, manejo de polímeros y tecnologías de decoración avanzada automotriz, con profesionales especializados en cada una de las áreas para llevar los conocimientos a las principales ciudades en el mundo.</p>
            <button id="contactar"><a href="https://api.whatsapp.com/send?phone=%2B573058517530&context=ARANaxkEnQzLhYJQwqzUUrVnzGz_ND2E2lkcNPPQSc7bclRL4ns5O6hf50HWQQGwz6wGi8Fa2dS-9ZtdN_-FZ0q8zCLydwAx0pLjH_ZWEB7eM1avwYaw3n-zooYbCoRuFfqK8bwS2xd714YHoiotcMbStQ&source=FB_Page&app=facebook&entry_point=page_cta&fbclid=IwZXh0bgNhZW0CMTAAAR0SkEeadJIgKA-sGqza4lcq4OaX_yiD1rtJ5D_gRLiKvc0lhoRFsY9rbaY_aem_Ae5IlTcH9Kl9HACHhNtg8iombYGY1Wg5sOkVDryMXN3fsOd05PZ4wEwiTVNYZfeHSQNGsG7dN7KWOW6EUWiU8kZf"><i class="fa-solid fa-phone"></i> Contactar </a></button>
        </article>
        
    </section>
    <section class="contenedor-banderas">
        <h4>Puntos Internacionales de Aprendizaje</h4>
    <div class="sliderBandera">
        
        <div class="slider-track-bandera" id="imgBanderas">
        </div>
    </div>
    </section>
    <section class="contenedor-servicios" id="servicios">
     <article>
        <h4>3 Mejores razones para adquirir los servicios de Dial.</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, aliquid vitae aliquam soluta deleniti nihil nobis aspernatur, quia eum nostrum ipsam quaerat perferendis voluptatibus illum vero distinctio cumque, quidem eos.</p>
        <div class="parent">
            <div class="div1">
                <div class="icono">
                    <i class="fa-solid fa-briefcase"></i>
                </div>
                <div class="text-servicios">
                    <p>TRABAJOS PROFESIONALES</p>
                    <span>¡Realización de proyectos sumamente profesionales!</span>
                </div>
            </div>
            <div class="div2">
                <div class="icono">
                    <i class="fa-solid fa-graduation-cap"></i>
                </div>
                <div class="text-servicios">
                    <p>CAPACITACIÓN VIRTUAL Y PRESENCIAL</p>
                    <span>Capacitaciones en diferentes tecnicas y sistemas de acabado y personalizacion.</span>
                </div>
            </div>
            <div class="div3">
                <div class="icono">
                    <i class="fa-solid fa-fire"></i>
                </div>
                <div class="text-servicios">
                    <p>INSUMOS DE ALTA CALIDAD</p>
                    <span>Venta de todo tipo de insumos alta calidad.</span>
                </div>
            </div>
            
            </div>
    </article>
     <aside>
        <div class="background-aside-about">
            <img src="/img/zeuz.webp" alt="">
        </div>
     </aside>
    </section>
    <section class="contenedor-comentarios">
        <h4>Testimonios</h4>
        <div class="testimonial mySwiper">
        <div class="testi-content swiper-wrapper">
          <div class="slide swiper-slide">
            <i class="bx bxs-quote-alt-left quote-icon"></i>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam,
              saepe provident dolorem a quaerat quo error facere nihil deleniti
              eligendi ipsum adipisci, fugit, architecto amet asperiores
              doloremque deserunt eum nemo.
            </p>
           
            <div class="details">
              <span class="name">Marnie Lotter</span>
              <span class="job">Hace 24 horas</span>
            </div>
          </div>
          <div class="slide swiper-slide">
            <i class="bx bxs-quote-alt-left quote-icon"></i>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam,
              saepe provident dolorem a quaerat quo error facere nihil deleniti
              eligendi ipsum adipisci, fugit, architecto amet asperiores
              doloremque deserunt eum nemo.
            </p>
            <div class="details">
              <span class="name">Marnie Lotter</span>
              <span class="job">Web Developer</span>
            </div>
          </div>
          <div class="slide swiper-slide">
            <i class="bx bxs-quote-alt-left quote-icon"></i>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam,
              saepe provident dolorem a quaerat quo error facere nihil deleniti
              eligendi ipsum adipisci, fugit, architecto amet asperiores
              doloremque deserunt eum nemo.
            </p>
            <div class="details">
              <span class="name">Marnie Lotter</span>
              <span class="job">Web Developer</span>
            </div>
          </div>
        </div>
        <div class="swiper-button-next nav-btn"></div>
        <div class="swiper-button-prev nav-btn"></div>
        <div class="swiper-pagination"></div>
      </div>
      <p class="task">Recuerda que si deseas dejar tu testimonio debes registrarte y comentar</p>
    </section>
    <section class="contenedor-contactanos" id="contacto">
       <article>
        <form class="form">
            <p class="title">Contactanos y te daremos toda la información </p>
            <p class="message">Si Polimericos Dial tuviera un sinonimo, sería ¡CALIDAD!.

                #1 de Colombia ¿Qué esperas para contactarnos?</p>
                <div class="flex">
                <label>
                    <input class="input" type="text" placeholder="" required="">
                    <span>Nombres</span>
                </label>
        
                <label>
                    <input class="input" type="text" placeholder="" required="">
                    <span>Apellido</span>
                </label>
            </div>  
                    
            <div class="flex">
                <label>
                    <input class="input" type="text" placeholder="" required="">
                    <span>Email</span>
                </label>
        
                <label>
                    <input class="input" type="text" placeholder="" required="">
                    <span>Número de teléfono</span>
                </label>
            </div>  
            <div class="flex">
                <label>
                    <input class="input" type="text" placeholder="" required="">
                    <span>¿En que estas interesado?</span>
                </label>
            </div> 
            <button id="contactar" type="submit"><a href=""> Enviar <i class="fa-solid fa-paper-plane"></i> </a></button> 
        </form>
       </article>
       <aside>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3977.0254897712375!2d-74.10139729021023!3d4.589448542594296!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f991f50dedd15%3A0xeae481775d0f3e59!2sPOLIMERICOS%20DIAL%20DE%20COLOMBIA!5e0!3m2!1ses-419!2sco!4v1716477863518!5m2!1ses-419!2sco" width="600" height="500" style="border-radius:8px; border: none;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" title="miUbicacion"></iframe>
       </aside>
    </section>

    <footer>
        <div class="content">
          <div class="top">
            <div class="logo-details">
              <i class="fab fa-slack"></i>
              <span class="logo_name">Polimericos Dial de Colombia</span>
            </div>
            <div class="media-icons">
              <a href="https://web.facebook.com/POLIMERICOSINTERNACIONAL" aria-label="facebook"><i class="fab fa-facebook-f"></i></a>
              <a href="https://www.instagram.com/polimericosddc/" aria-label="instagram"><i class="fab fa-instagram"></i></a>
              <a href="https://api.whatsapp.com/send?phone=%2B573058517530&context=ARANaxkEnQzLhYJQwqzUUrVnzGz_ND2E2lkcNPPQSc7bclRL4ns5O6hf50HWQQGwz6wGi8Fa2dS-9ZtdN_-FZ0q8zCLydwAx0pLjH_ZWEB7eM1avwYaw3n-zooYbCoRuFfqK8bwS2xd714YHoiotcMbStQ&source=FB_Page&app=facebook&entry_point=page_cta&fbclid=IwZXh0bgNhZW0CMTAAAR0SkEeadJIgKA-sGqza4lcq4OaX_yiD1rtJ5D_gRLiKvc0lhoRFsY9rbaY_aem_Ae5IlTcH9Kl9HACHhNtg8iombYGY1Wg5sOkVDryMXN3fsOd05PZ4wEwiTVNYZfeHSQNGsG7dN7KWOW6EUWiU8kZf" aria-label="WhatsApp"><i class="fab fa-whatsapp"></i></a>
              <a href="https://www.tiktok.com/@polimericosddc" aria-label="tiktok"><i class="fab fa-tiktok"></i></a>
              <a href="https://www.youtube.com/@POLIMERICOSDDC" aria-label="youtube"><i class="fab fa-youtube"></i></a>
            </div>
          </div>
          <div class="link-boxes">
            <ul class="box">
              <li class="link_name">Empresa</li>
              <li><a href="#inicio">Inicio</a></li>
              <li><a href="#nosotros">Nosotros</a></li>
              <li><a href="#servicios">Servicios</a></li>
              <li><a href="#contacto">Contacto</a></li>
            </ul>
            <ul class="box">
              <li class="link_name">Login</li>
              <li><a href="#">Registrarme</a></li>
              <li><a href="#">Iniciar sesion</a></li>
            </ul>
            <ul class="box">
              <li class="link_name">Cursos gratuitos</li>
              <li><a href="#">Cursos virtuales</a></li>
            </ul>
            <ul class="box input-box">
              <li class="link_name">Subscribete</li>
              <li><input type="text" placeholder="Ingresa tu email"></li>
              <li><input type="button" value="Subscribirme"></li>
            </ul>
          </div>
        </div>
        <div class="bottom-details">
          <div class="bottom_text">
            <span class="copyright_text">Copyright © 2024 <a href="#">Polimericos Internacional</a>| Hecho con <3 por SoluctionCode equipo de desarrollo de software</span>
            <span class="policy_terms">
              <a href="#">Politica de privacidad</a>
              <a href="#">Terminos & condiciones</a>
            </span>
          </div>
        </div>
      </footer>
    
    <script src="/js/swiper-bundle.min.js"></script>
    <script src="/js/swiper.js"></script>

    <script src="/js/trabajosSlider.js"></script>
    <script src="/js/banderasSlider.js"></script>
    <script src="/js/main.js"></script>
</body>