<title>Iniciar Sesión</title>
<link rel="stylesheet" href="/css/login.css">

  <body>
    <main>
      <div class="box">
        <div class="inner-box">
          <div class="forms-wrap">
            <form action="index.html" autocomplete="off" class="sign-in-form">
              <div class="logo">
                <img src="./img/logo.png" alt="easyclass" />
                <h4>Polimericos Internacional</h4>
              </div>

              <div class="heading">
                <h2>Da gusto tenerte por aquí :)</h2>
                <h6>¿No estas registrado?</h6>
                <a href="#" class="toggle">Registrarme</a>
              </div>

              <div class="actual-form">
                <div class="input-wrap">
                  <input
                    type="text"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label>Email</label>
                </div>

                <div class="input-wrap">
                  <input
                    type="password"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label>Contraseña</label>
                </div>

                <input type="submit" value="Entrar" class="sign-btn" />

                <p class="text">
                  ¿Olvidaste tu credenciales?
                  <a href="#">Ayuda</a> para restablecer tus datos
                </p>
              </div>
            </form>

            <form action="index.html" autocomplete="off" class="sign-up-form">
              <div class="logo">
                <img src="./img/logo.png" alt="easyclass" />
                <h4>Polimericos Internacional</h4>
              </div>

              <div class="heading">
                <h2>¡Empecemos ya!</h2>
                <h6>¿Ya tienes una cuenta activa?</h6>
                <a href="#" class="toggle">Iniciar Sesion</a>
              </div>

              <div class="actual-form">
                <div class="input-wrap">
                  <input
                    type="text"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label>Nombres</label>
                </div>

                <div class="input-wrap">
                  <input
                    type="email"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label>Email</label>
                </div>

                <div class="input-wrap">
                  <input
                    type="password"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label>Contraseña</label>
                </div>

                <div class="input-wrap">
                    <input
                      type="password"
                      minlength="4"
                      class="input-field"
                      autocomplete="off"
                      required
                    />
                    <label>Repite la contraseña</label>
                  </div>

                <input type="submit" value="Crear cuenta" class="sign-btn" />

                <p class="text">
                 Al darle "crear cuenta" esta aceptando los
                  <a href="#">Terminos y condiciones</a> junto a 
                  <a href="#">Politica de privacidad</a>
                </p>
              </div>
            </form>
          </div>

          <div class="carousel">
            <div class="images-wrapper">
              <img src="./img/image1.png" class="image img-1 show" alt="" />
              <img src="./img/image2.png" class="image img-2" alt="" />
              <img src="./img/image3.png" class="image img-3" alt="" />
            </div>

            <div class="text-slider">
              <div class="text-wrap">
                <div class="text-group">
                  <h2>+100 cursos gratis</h2>
                  <h2>Emprendimiento eficaz</h2>
                  <h2>Contactanos ahora</h2>
                </div>
              </div>

              <div class="bullets">
                <span class="active" data-value="1"></span>
                <span data-value="2"></span>
                <span data-value="3"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Javascript file -->

    <script src="/js/login.js"></script>
  </body>